<section ng-controller="resumeController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Center Column -->
        <div class="body-container">
            <h2><span ng-bind-html="resume.title | trustHTML"></span></h2>
            <div class="image-container">
                <img class="image-resume  img-responsive" ng-src="{{resume.resumePictureLink}}" title="R&eacute;sum&eacute;" alt="R&eacute;sum&eacute;" spinner-load />
            </div>
            <br />
            <div class="resume-center">
                <div class="resume-container">
                    <ul class="resume-ul">
                        <li class="resume-header-li">
                            <span class="aboutme-span">R&eacute;sum&eacute;</span>
                        </li>
                        <li class="resume-li">
                            <a href="{{resume.resumeLink}}" target="_blank" style="text-decoration: none;">
                                <img class="image-pdf" src="/external-files/media/icons/pdf-icon.png" alt="resume.pdf" title="resume.pdf" />
                            </a>
                        </li>
                    </ul>
                    <ul class="resume-ul">
                        <li class="resume-header-li">
                            <span class="aboutme-span">CV</span>
                        </li>
                        <li class="resume-li">
                            <a href="{{resume.cvLink}}" target="_blank" style="text-decoration: none;">
                                <img class="image-pdf" src="/external-files/media/icons/pdf-icon.png" alt="cv.pdf" title="cv.pdf" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="clear: both"></div>
            <br />
        </div>
        <!-- End Center Column -->
    </div>
    <!-- End Container -->
</section>