@font-face {
    font-family: no-more-lies;
    src: url('/external-files/media/fonts/no-more-lies.ttf');
}
@font-face {
    font-family: true-lies;
    src: url('/external-files/media/fonts/true-lies.ttf');
}
@font-face {
    font-family: outrun-future;
    src: url('/external-files/media/fonts/outrun-future.otf');
}