@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');
@import url('/external-files/styles/custom-fonts.css');

/*New Color: #29a8d6*/
/*Old Color: #009900*/

/* Header Container */
.header-container {
    width: 95%;
    max-width: 768px;
    margin: auto;
	padding-bottom: 0px;
    margin-bottom: 0px;
}

/* Masthead Container */
.masthead {
	text-align: center;
    padding: 0;
    margin-bottom: 0px;
    overflow: hidden;
}
.masthead-container {
    width: 100%;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.masthead h1 {
	color: #fff;
	font-size: 45px;
	margin-top: 0px;
	margin-bottom: 0px;
    font-family: no-more-lies;
    text-align: center;
}
.masthead h3 {
	color: #fff;
	font-size: 25px;
	margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-family: true-lies;
}
.masthead a.masthead-link {
	text-decoration: none;
}
.masthead a.masthead-link:hover {
	text-decoration: none;
}
.masthead a.masthead-link:active {
	text-decoration: none;
}

/* Navigation */
.navigation {
    text-align: center;
    height: 70px;
    width: 100%;
    font-family: no-more-lies;
}
.navigation .nav-icon {
    display: none;
}
.navigation ul.nav-ul {
	list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}
ul.nav-ul li {
    width: 140px;
    display: inline-block;
}
li .nav-regular {
	display: block;
    color: white;
    text-align: center;
    padding: 8px 0px;
    text-decoration: none;
    font-size: x-large;
	font-weight: bold;
}
.nav-regular-black {
	display: block;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    width: 100%;
    font-size: large;
	font-weight: bold;
}
li .nav-dropdown-button {
	display: block;
    color: white;
    text-align: center;
    padding: 8px 0px;
    text-decoration: none;
    font-size: x-large;
	font-weight: bold;
}
.navigation .nav-regular:hover:not(.active), .nav-regular-black:hover:not(.active), .nav-dropdown-button:hover:not(.active){
    color: #29a8d6;
}
.navigation .nav-regular.active, .nav-regular-black.active, .nav-dropdown-button.active {
	color: #000;
	background-color: #29a8d6;
}
.bottom-left-corner-round .nav-regular {
    border-radius: 0px 0px 0px 5px!important;
}
.bottom-left-corner-round .nav-dropdown-button {
    border-radius: 0px 0px 0px 5px!important;
}
.bottom-right-corner-round .nav-regular {
    border-radius: 0px 0px 5px 0px!important;
}
.bottom-right-corner-round .nav-dropdown-button {
    border-radius: 0px 0px 5px 0px!important;
}
.bottom-left-corner-round .nav-regular.active {
    border-radius: 0px 0px 0px 5px!important;
}
.bottom-left-corner-round .nav-dropdown-button.active {
    border-radius: 0px 0px 0px 5px!important;
}
.bottom-right-corner-round .nav-regular.active {
    border-radius: 0px 0px 5px 0px!important;
}
.bottom-right-corner-round .nav-dropdown-button.active {
    border-radius: 0px 0px 5px 0px!important;
}
.nav-ul .nav-dropdown-content {
    display: none;
    position: absolute;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #29a8d6;
    background-color: #000;
    z-index: 5;
}
.nav-dropdown-content a {
    display: block;
    color: white;
    text-align: center;
    width: 139px;
    padding: 12px 8px;
    text-decoration: none;
    font-size: large;
	font-weight: bold;
}
.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}
.nav-dropdown-content:hover {
    display: block;
}
.nav-dropdown-content a.active {
    color: #000;
	background-color: #29a8d6;
}
.nav-dropdown-content a.no-border {
    border-radius: 0!important;
}
.nav-dropdown-content a.no-bottom-border {
	border-radius: 5px 5px 0px 0px!important;
}
.nav-dropdown-content a.no-top-border {
	border-radius: 0px 0px 5px 5px!important;
}
.navigation-hover-shadow {
	-webkit-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
	-moz-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
	transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s
}
.navigation-hover-shadow:hover:not(.active) {
	box-shadow: 0px 0px 10px 2px rgba(41, 168, 214, 0.75), 0px 0px 10px 2px rgba(41, 168, 214, 0.75)!important;
}
.navigation ul.closed {
    display: none;
}

/* Body Container */
body {
	font-family: "Trebuchet MS", sans-serif;
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
	padding: 0;
	border: 0;
}
.container {
	border-top: 2px solid #29a8d6;
	border-right: 2px solid #29a8d6;
	border-bottom: 2px solid #29a8d6;
	border-left: 2px solid #29a8d6;
	background-color: #000;
    border-radius: 0px 0px 5px 5px;
    width: 95%;
    max-width: 768px;
	margin: 0 auto;
	padding: 0;
	display: block;
}
.body-home {
	background-repeat: no-repeat;
	background-size: cover;
	image-rendering: auto;
  	image-rendering: crisp-edges;
  	image-rendering: optimizeSpeed;
  	image-rendering: optimize-contrast;
}
.body-container {
	width: 100%;
}
.body-container h2 {
	font-size: xx-large;
	color: #29a8d6;
	margin-left: 2%;
	margin-bottom: 0;
    font-family: no-more-lies;
}
.body-container h3.header-h3 {
    font-size: x-large;
	color: #29a8d6;
	margin-left: 3%;
	margin-bottom: 0;
    font-family: no-more-lies;
}
.body-container p.paragraph-p {
	color: #fff;
	margin-left: 5%;
	width: 90%;
	font-size: medium;
}
.body-container span.sub-portfolio-span {
	color: #fff;
}
.body-container hr {
	width: 95%;
	display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #29a8d6;
    padding: 0;
    margin-left: 2%;
}
.body-container div.ul-container-percentage {
    width: 90%;
    margin-left: 2%;
}
.body-container ul.aboutme-ul {
	float: left;
    max-width: 230px;
}
ul.aboutme-ul li.aboutme-header-li {
	color: #000;
	font-size: medium;
    font-family: no-more-lies;
    list-style: none;
}
ul.aboutme-ul li.aboutme-li {
	color: #fff;
	font-size: medium;
    overflow-y: visible;
}
li span.aboutme-span {
	color: #29a8d6;
	font-size: 140%;
}
.body-container div.resume-center {
    text-align: center;
    display: inline-block;
    width: 100%;
}
.body-container div.resume-container {
    width: 200px;
    margin: auto;
    text-align: center;
}
.body-container ul.resume-ul {
    list-style-type: none;
    height: 100%;
    float: left;
    margin-right: 20px;
    padding-left: 0;
}
.body-container li.resume-header-li {
	color: #000;
	font-size: medium;
    display: block;
    font-family: no-more-lies;
}
.body-container li.resume-li {
	color: #000;
	font-size: medium;
    display: block;
}
li span.resume-span {
	color: #29a8d6;
	font-size: 140%;
}
.body-container div.portfolio-item {
    width: 49%;
    float: left;
}
.body-container div.portfolio-image-div {
    margin-top: 5px;
    width: 100%;
    text-align: center;
}
.body-container h3.portfolio-h3 {
    font-family: no-more-lies;
	font-size: x-large;
	color: #29a8d6;
	margin-bottom: 0;
	text-align: center;
}
.body-container p.portfolio-p {
	color: #fff;
	text-align: center;
	width: 100%;
	font-size: small;
}
.body-container p.portfolio-description-p {
	color: #fff;
	width: 85%;
	margin-left: 10%;
	font-size: small;
    height: 60px;
}
.body-container a.portfolio-link-a {
	color: #fff;
    text-decoration: underline;
}
.body-container a.portfolio-link-a:hover {
	color: #29a8d6;
    text-decoration: none;
}
.body-container ul.sub-portfolio-ul {
	float: left;
    max-width: 230px;
    list-style: none;
}
.body-container li.sub-portfolio-header-li {
    font-family: no-more-lies;
	color: #000;
}
.body-container li.sub-portfolio-li {
	color: #000;
    overflow-y: visible;
}
li span.sub-portfolio-header-span {
	color: #29a8d6;
	font-size: large;
}
li span.sub-portfolio-sub-span {
	color: #fff;
	font-size: medium;
}
.body-container a {
	color: #fff;
    text-decoration: underline;
    text-align: center;
}
.body-container a:hover {
	color: #29a8d6;
    text-decoration: none;
}
.body-container h3.contact-submission-complete {
    color: #fff;
    text-align: center;
}

/* Footer Container */
.footer-container {
    width: 95%;
    max-width: 768px;
    text-align: center;
	margin: 0 auto;
	padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Media Query/Screen */
/* When the screen is less than 768px pixels wide */
@media screen and (max-width: 768px) {
    .navigation {
        text-align: right;
        display: block;
        position: relative;
    }
    .navigation ul.nav-ul li {
        display: none;
    }
    .navigation ul.nav-ul li.nav-icon {
        float: right;
        display: inline-block;
        width: 50px;
        margin-right: 2%;
    }
    .navigation ul.closed {
        display: none;
    }
    .navigation ul.open { 
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 5px;
        top: 80%;
        width: 110px;
        margin-right: 2%;
        background-color: #000;
        z-index: 5;
	}
    .body-container h2 {
	    margin-left: 0px;
        text-align: center;
    }
    .body-container h3.header-h3 {
        margin-left: 0px;
        padding: 0px;
        text-align: center;
    }
    .body-container div.portfolio-item {
        width: 100%;
        float: left;
        display: inline-block;
    }
    .body-container p.portfolio-description-p {
        height: auto;
    }
    .ul-container-percentage {
        text-align: center;
    }
    .body-container ul.aboutme-ul {
	    float: left;
        width: 100%;
        max-width: 100%;
        list-style: none;
    }
    .body-container ul.sub-portfolio-ul {
	    float: left;
        width: 100%;
        max-width: 100%;
    }
    .image-container {
        text-align: center;
        display: inline-block;
    }
    .image-container .image-email {
        text-align: center;
        margin: 0px;
    }
    .form-container {
        text-align: center;
        display: inline-block;
    }
    .form-container .form-contact {
        margin-left: 0px;
        margin: auto;
    }
}

/* UL */
.ul-container {
    text-align: center;
    width: 100%;
    display: inline-block;
    background-color: red;
}
.ul-home {
    list-style-type: none;
    text-align: center;
	padding: 0;
	display: block;
    margin: auto;
    width: 160px;
    font-family: no-more-lies;
}
.ul-home li {
	float: left;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000;
}
.ul-home a {
	font-size: large;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 10px;
	text-align: center;
    font-size: x-large;
}
.ul-home a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	background-color: #29a8d6;
}
.ul-home a:active {
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	background-color: #29a8d6;
}
.image-home {
    display: block;
    margin: 0 auto;
}
.home-h1 {
    font-family: no-more-lies;
	color: #000;
	display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 3em;
}
.home-div {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.home-link-to-start-page {
    font-family: no-more-lies;
	color: #fff;
    background-color: #000;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size: xx-large;
	font-weight: bold;
}
.home-background-pic {
    background-repeat: no-repeat;
	background-size: cover;
	image-rendering: auto;
  	image-rendering: crisp-edges;
  	image-rendering: optimizeSpeed;
  	image-rendering: optimize-contrast;
}

/* Error Screen */
.body-error p.error-p {
	color: #fff;
	font-size: large;
}
.body-error a {
	color: #fff;
    text-decoration: underline;
}
.body-error a:hover {
	color: #000;
    text-decoration: none;
}
.body-error h3 {
    color: #fff;
    text-align: center;
}
.image-error-center-horizontal {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.image-error-full-screen {
    height: 100%;
    width: 100%;
}
.image-error-center-screen {
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%);
}

/* Site typography */
h1 {
	font-size: xx-large;
	color: #fff;
}
h2 {
	font-size: x-large;
	color: #fff;
}
h3 {
	font-size: large;
	color: #fff;
}
h4 {
	font-size: medium;
	color: #fff;
}
blockquote,p,ol,ul {
	font-size: small;
	color: #000;
}
h5 {
	font-size: x-small;
	color: #c77;
}
h6 {
	font-size: xx-small;
	color: #c77;
}

/* Footer */
#footer p {
	font-size: small;
	color: #fff;
}

/* Links */
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #29a8d6;
	text-decoration: none;
}
.style_bold {
	font-weight: bold;
}
.style_italic {
	font-style: italic;
}

/* Page Breaks */
hr.top-bar {
	display: block;
    height: 7px;
    border: 0;
    border-top: 7px solid #29a8d6;
    margin: 1em 0;
    padding: 0;
}

/* Images */
.image-background {
    width: 100%;
    height: 100%;
    position: absolute;
}
.image-coming-soon {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
}
.image-menu {
    height: 50px;
    width: 50px;
}
div.image-container {
   width: 100%;
}
.image-email {
    width: 210px;
    height: 30px;
    margin-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.image-resume {
    width: 85%;
    height: auto;
	display: block;
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.image-pdf {
    height: 50px;
    width: 40px;
}
.image-portfolio-pdf {
    height: 30px;
    width: 25px;
    margin: 0px;
}
.image-portfolio-wide {
    height: 200px;
    width: 375px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.image-portfolio-sub-wide {
    height: 450px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image-loading {
	height: 40px;
    width: 40px;
    max-height: 100%;  
    max-width: 100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.image-social-media-icon {
    height: 30px;
    width: 30px;
    border-radius: 10%;
}

/* Icons */
.glyphicon.glyphicon-remove-circle {
    font-size: 50px;
}

/* Span */
.div-social-media {
    display: flex;
    justify-content: center;
}
.social-media-item {
    float: left;
    margin: 3px;
}

/* Form */
div.form-container {
   width: 100%;
}
.form-contact {
    color: #fff;
    margin-left: 50px;
    width: 300px;
}
.form-contact h3 {
   color: #fff;
}
.form-contact p {
   text-align: center;
   color: red;
   float: left;
}

/* Input */
.input-short-contact {
    width: 49% !important;
}
input[type=text], select {
    width: 99%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
}
input[type=submit] {
    width: 99%;
    background-color: #29a8d6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Trebuchet MS", sans-serif;
}
input[type=submit]:hover {
    background-color: #14546b;
}
textarea {
    width: 99%;
    height: 100px;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
}
.label-contact-star {
    color: red;
}

/* IFrame */
.iframe-porfolio-trailer-video {
	display: block;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 15px;
    border: none;
}
.iframe-porfolio-update-video {
	display: block;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 15px;
    border: none;
}

/* Image Slide Show */
.slideshow-div {
	margin: auto;
	margin-top: 5px;
	padding-top: 5px;
}
.slideshow-image-container {
    width: 100%;
    height: 10%;
    max-height: 500px;
    display: flex;
  	flex-direction: column;
  	justify-content: center;
}
.slideshow-image { 
    width: 95%;
    max-height: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slideshow-image-animate-fading {
	-webkit-animation: fading 4s infinite;
	-moz-animation: fading 4s infinite;
	animation: fading 4s infinite;
} 
.slideshow-change-subimage-div {
	width: 100%;
	max-height: 80px;
    padding-top: 1%;
	padding-bottom: 1%;
    overflow: hidden;
	display: block;
    margin-left: auto!important;
    margin-right: auto!important;
	text-align: center;
    position: relative;
}
.slideshow-subimage-div {
	width: 100px;
    max-height: 60px;
    display: inline-block;
    margin: 5px;
    margin-bottom: 10px;
	vertical-align: middle;
}
.slideshow-subimages-to-switch {
	width: 100%; 
	height: 60px;
	max-height: 60px;
	display: block;
    opacity: 0.3;
}
.slideshow-subimage-selected {
	border: 1px solid #29a8d6!important;
	opacity: 1.0!important;
}
.slideshow-subimage-hover-shadow {
	-webkit-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
	-moz-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
	transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}
.slideshow-subimage-hover-shadow:hover {
	box-shadow: 0px -5px 10px 2px rgba(255, 255, 255, 0.75), 0px 5px 10px 2px rgba(255, 255, 255, 0.75)!important;
}
.slideshow-arrow-float-left {
    cursor: pointer;
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.slideshow-arrow-float-right {
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.slideshow-arrow-float-left:hover, .slideshow-arrow-float-right:hover{
    color: #29a8d6;
}

.carousel-indicators-container {
    position: relative;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    height: 100%;
    margin: auto;
    z-index: 1;
}
.carousel-inner > .item.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carousel-control {
    margin-bottom: 54px;
    opacity: 1;
    z-index: 4;
 }
.left.carousel-control, .right.carousel-control {
    color: #fff;
}
/* Indicators list style */
.carousel-indicators {
    padding: 0;
    bottom: 0px;
    left: 0;
    width: 90%;
    margin-left: 0;
    max-height: 60px;
    overflow: hidden;
    position: relative;
    padding-top: 3px;
    padding-bottom: 1px;
    display: block;
    margin: 0 auto;
 }
/* Indicators list style */
.carousel-indicators li {
    border: medium none;
    border-radius: 0;
    height: 50px;
    margin-right: 5px !important;
    width: 100px;
    display: inline-block;
}
.carousel-indicators li.active {
    border: medium none;
    border-radius: 0;
    height: 50px;
    margin-right: 5px !important;
    width: 100px;
    display: inline-block;
}
/* Indicators images style */
.carousel-indicators img {
    border: 2px solid #fff;
    height: 100%;
    left: 0;
    width: 100%;
}
/* Indicators active image style */
.carousel-indicators .active img {
    border: 2px solid #29a8d6;
    height: 100%;
    left: 0;
    width: 100%;
    opacity: 0.7;
}
.sub-carousel {
    background-color: red;
}
.sub-carousel > .carousel-inner {
    margin: auto;
    width: 90%; 
    background-color: blue;
}
.sub-carousel > .carousel-control {
    width: 4%;
}
.sub-carousel > .carousel-control.left,
.sub-carousel > .carousel-control.right {
  background-image: none;
}
.sub-carousel > .carousel-inner > a {
    display: table-cell;
    height: 180px;
    width: 200px;
    vertical-align: middle;
}
.sub-carousel > .carousel-inner > img {
    max-height: 150px;
    margin: auto auto;
    max-width: 100%;
}


/* Video Slide Show */
.slideshow-change-subvideoimage-div {
	width: 100%;
	height: 80px;
    padding-top: 1%;
	padding-bottom: 1%;
    overflow: hidden;
	display: block;
    margin-left: auto!important;
    margin-right: auto!important;
	text-align: center;
}
.slideshow-subvideoimage-div {
	width: 100px;
	height: 100%;
    display: inline-block;
    margin: 5px;
	vertical-align: middle;
}
.slideshow-subvideoimage-to-switch {
	width: 100%; 
	height: 100%;
    max-height: 60px;
	display: block;
    opacity: 0.3;
}
.slideshow-subvideoimage-selected {
	border: 1px solid #29a8d6!important;
	opacity: 1!important;
}
.slideshow-subvideoimage-hover-shadow {
	-webkit-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
	-moz-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
	transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}
.slideshow-subvideoimage-hover-shadow:hover {
	box-shadow: 0px -5px 10px 2px rgba(255, 255, 255, 0.75), 0px 5px 10px 2px rgba(255, 255, 255, 0.75)!important
}

.blog-coming-soon {
    color: #fff;
    text-align: center;
    background-color: #000;
    padding: 0;
    margin: 0;
}
.blog-coming-soon a {
    text-decoration: underline;
    text-decoration-color: #29a8d6;
    -moz-text-decoration-color: #29a8d6;
}
h1.blog-coming-soon-text {
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: true-lies;
    font-size: 5em;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
h1.blog-coming-soon-text span.red-text {
    color: red;
}

/* Animation Delays */
.delay--half-sec {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.delay--one-sec {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
.delay--two-sec {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}