<section ng-controller="aboutMeController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Center Column -->
        <div class="body-container">
            <h2>{{aboutme.title}}</h2>
            <div></div>
            <div></div>

            <h3 class="header-h3">Bio</h3>
            <p class="paragraph-p">
                <span ng-bind-html="aboutme.bio | trustHTML"></span>
            </p>
            <hr />

            <h3 class="header-h3">Hobbies</h3>
            <div class="ul-container-percentage">
                <ul class="aboutme-ul" ng-repeat="hobbyData in aboutme.hobbies">
                    <li class="aboutme-li" ng-repeat="hobby in hobbyData">{{hobby.text}}</li>
                </ul>
            </div>
            <hr style="clear: both" />

            <h3 class="header-h3">Favorite Games</h3>
            <div class="ul-container-percentage">
                <ul class="aboutme-ul" ng-repeat="favoriteGamesData in aboutme.favoriteGames">
                    <li class="aboutme-header-li">
                        <span class="aboutme-span">{{favoriteGamesData.type}}</span>
                    </li>
                    <li class="aboutme-li" ng-repeat="favoriteGame in favoriteGamesData.content">
                        <span ng-bind-html="favoriteGame.text | trustHTML"></span>
                    </li>
                </ul>
            </div>
            <span style="clear: both"></span>
            <br />
        </div>
        <!-- End Center Column -->
    </div>
    <!-- End Container -->
</section>
