<!-- Begin Blog Page -->
<section ng-controller="blogController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With Errors -->
        <div ng-if="pageFullyLoaded && error.error">
            <div class="col-sm-4 offset-sm-4 mt-5">
                <h4 class="text-center text-muted font-italic" ng-if="error.error">{{error.message}}</h4>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <div class="animated animation-delay--md fadeIn" ng-if="pageFullyLoaded && !error.error">
            <!-- Begin Page Title -->
            <h2 class="font-weight-bold text-uppercase mb-3"><span ng-bind-html="blog.title | trustHTML"></span></h2>
            <!-- End Page Title -->
            <!-- Begin Posts and Filters -->
            <div class="row">
                <!-- Begin Posts -->
                <div class="col-md-9">
                    <div class="mb-5" ng-repeat="post in blog.posts">
                        <div class="card card-inverse card--dark card-block box-shadow--small">
                            <!-- Begin Image -->
                            <a href="#/blog/post/{{post.url}}">
                                <div class="blog-img--small" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.15) 100%), url({{post.image}}); background-size: cover; background-position: center center; background-repeat: no-repeat;"></div>
                            </a>
                            <!-- End Image -->
                            <!-- Begin Content Break -->
                            <hr class="blog-post-bar mt-5 mb-5" />
                            <!-- End Content Break -->
                            <!-- Begin Title -->
                            <h4 class="card-title">{{post.title}}</h4>
                            <!-- End Title -->
                            <!-- Begin Content Break -->
                            <hr class="blog-post-bar mt-5 mb-5" />
                            <!-- End Content Break -->
                            <!-- Begin Short Body -->
                            <p class="card-text blog-limit-desc">{{post.shortDescription}}</p>
                            <!-- End Short Body -->
                            <!-- Begin View Full Post -->
                            <a class="card-link mt-3" href="#/blog/post/{{post.url}}">View full post... <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            <!-- End View Full Post -->
                        </div>
                    </div>
                </div>
                <!-- End Posts -->
                <!-- Begin Filters -->
                <div class="col">
                    <div class="card card--dark card-block box-shadow--small">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search for..." ng-model="search.query">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button" ng-click="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                        <div class="list-group">
                            <div role="button" class="list-group-item list-group-item--dark blog-filter" ng-class="{active: isFilterActive(filter)}" ng-click="addRemoveFilter(filter)" ng-repeat="filter in blog.filters">
                                <div class="d-block w-100">
                                    <h5 class="text-capitalize text-center p-1 m-0">{{filter}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Filters -->
            </div>
            <!-- End Posts and Filters -->
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End Blog Page -->