<!-- Begin Contact Page -->
<section ng-controller="contactController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Not Fully Loaded -->
        <div class="animated animation-delay--xs fadeIn" ng-if="!pageFullyLoaded">
            <div class="col-sm-4 offset-sm-4 mt-5">
                <h4 class="text-center animated infinite jello">Getting thing ready for you...</h4>
            </div>
        </div>
        <!-- End Page Not Fully Loaded -->
        <!-- Begin Page Fully Loaded With Errors -->
        <div ng-if="pageFullyLoaded && error.error">
            <div class="col-sm-4 offset-sm-4 mt-5">
                <h4 class="text-center text-muted font-italic" ng-if="error.error">{{error.message}}</h4>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <div class="animated animation-delay--md fadeIn" ng-if="pageFullyLoaded && !error.error">
            <!-- Begin Page Title -->
            <h2 class="font-weight-bold text-uppercase mb-3"><span ng-bind-html="contact.title | trustHTML"></span></h2>
            <!-- End Page Title -->
            <!-- Begin Email -->
            <div class="card card--transparent card-block">
                <h4 class="text-capitalize">Email</h4>
                <div class="pl-3 pr-3">
                    <img class="img-fluid" width="200" height="30" ng-src="{{contact.emailPictureLink}}" title="Cameron Hopkins Email" alt="Cameron Hopkins Email" spinner-load />
                </div>
            </div>
            <!-- End Email -->
            <!-- Begin Content Break -->
            <hr class="body-bar" />
            <!-- End Content Break -->
            <!-- Begin Positive Note -->
            <div class="card card--transparent card-block">
                <h4 class="text-capitalize">Postive Note</h4>
                <span class="pl-3 pr-3">{{contact.positiveNote}} <i class="em em-satisfied"></i></span>
            </div>
            <!-- End Positive Note -->
            <!-- Begin Content Break -->
            <hr class="body-bar" />
            <!-- End Content Break -->
            <!-- Begin Contact Form -->
            <div id="contact-form" class="card card--transparent card-block" ng-if="!contactForm.formSubmitted">
                <h4 class="text-capitalize">Contact Me Directly</h4>
                <div style="padding-bottom: 24px;" ng-if="!contactForm.errors.error"></div>
                <div ng-if="contactForm.errors.error">
                    <span style="color: red;">{{contactForm.errors.errorMessage}}</span>
                </div>
                <form ng-submit="sendEmail()">
                    <div class="form-group pl-3 pr-3">
                        <!-- Begin Name -->
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="name">Name <span style="color: red;">*</span></label>
                            <div class="col input-group" ng-class="{'has-danger': contactForm.errors.firstName}">
                                <span class="input-group-addon">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <input class="form-control form-control-danger" type="text" name="firstname" placeholder="First Name" id="first-name" ng-model="contactForm.inputs.firstName" ng-focus="viewFocusEnter(contactForm.views.firstName)" ng-blur="viewFocusLeave(contactForm.views.firstName)" ng-change="checkTextLength(contactForm.views.firstName)">
                            </div>
                            <div class="col input-group" ng-class="{'has-danger': contactForm.errors.lastName}">
                                <span class="input-group-addon">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <input class="form-control form-control-danger" type="text" name="lastname" placeholder="Last Name" id="last-name" ng-model="contactForm.inputs.lastName" ng-focus="viewFocusEnter(contactForm.views.lastName)" ng-blur="viewFocusLeave(contactForm.views.lastName)" ng-change="checkTextLength(contactForm.views.lastName)">
                            </div>
                        </div>
                        <!-- End Name -->
                        <!-- Begin Email -->
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="email">Email <span style="color: red;">*</span></label>
                            <div class="col input-group" ng-class="{'has-danger': contactForm.errors.email}">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" type="email" name="email" placeholder="example@example.com" id="email" ng-model="contactForm.inputs.email" ng-focus="viewFocusEnter(contactForm.views.email)" ng-blur="viewFocusLeave(contactForm.views.email)">
                            </div>
                        </div>
                        <!-- End Email -->
                        <!-- Begin Subject -->
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="email">Subject <span style="color: red;">*</span></label>
                            <div class="col input-group" ng-class="{'has-danger': contactForm.errors.subject}">
                                <span class="input-group-addon">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" type="text" name="subject" placeholder="I love your site!" id="subject" ng-model="contactForm.inputs.subject" ng-focus="viewFocusEnter(contactForm.views.subject)" ng-blur="viewFocusLeave(contactForm.views.subject)" ng-change="checkTextLength(contactForm.views.subject)">
                            </div>
                        </div>
                        <!-- End Subject -->
                        <!-- Begin Message -->
                        <div class="form-group row">
                            <h5 class="form-character-count pl-3 pr-3">{{contactForm.inputs.message.length}}/{{contactForm.maxLength.message}}</h5>
                            <label class="col-2 col-form-label" for="email">Message <span style="color: red;">*</span></label>
                            <div class="col input-group" ng-class="{'has-danger': contactForm.errors.message}">
                                <textarea class="form-control" id="message" rows="5" placeholder="Tell me, what do you think about the site?" ng-model="contactForm.inputs.message" ng-focus="viewFocusEnter(contactForm.views.message)" ng-blur="viewFocusLeave(contactForm.views.message)" ng-change="checkTextLength(contactForm.views.message)"></textarea>
                            </div>
                        </div>
                        <!-- End Message -->
                        <!-- Begin Submit -->
                        <div class="row">
                            <div class="col text-right">
                                <button type="submit" class="btn btn-theme-primary" ng-disabled="emailInTransit">Submit</button>
                            </div>
                        </div>
                        <!-- End Submit -->
                    </div>
                </form>
            </div>
            <!-- End Contact Form -->
            <!-- Begin Thank You Note -->
            <div id="thank-you-message" class="card card--transparent card-block animated fadeInUp" ng-if="contactForm.showThankYouNote">
                <div class="col-md-6 offset-md-3">
                    <h4 class="text-capitalize font-bold">Thank you, <span class="font-italic">{{contactForm.inputs.firstName}}</span></h4>
                    <p class="">I really appreciate your comment! I'll get back to you as soon as I can!</p>
                </div>
            </div>
            <!-- End Thank You Note -->
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End Contact Page -->