<!-- Begin Footer -->
<section ng-controller="footerController">
    <p><span ng-bind-html="footer.footerNote | trustHTML"></span></p>
    <div ng-if="footer.socialMediaLinks">
        <div class="div-social-media">
            <div ng-repeat="socialMedia in footer.socialMediaLinks">
                <span class="social-media-item">
                    <a href="{{socialMedia.link}}" target="_blank" style="text-decoration: none;">
                        <span ng-if="socialMedia.type == 'LinkedIn'">
                            <img class="image-social-media-icon" src="/external-files/media/social-media-images/linked-in.png" title="Cameron Hopkins LinkedIn" alt="LinkedIn" />
                        </span>
                        <span ng-if="socialMedia.type == 'Facebook'">
                            <img class="image-social-media-icon" src="/external-files/media/social-media-images/facebook.png" title="Cameron Hopkins Facebook" alt="Facebook" />
                        </span>
                        <span ng-if="socialMedia.type == 'Instagram'">
                            <img class="image-social-media-icon" src="/external-files/media/social-media-images/instagram.png" title="Cameron Hopkins Instagram" alt="Instagram" />
                        </span>
                        <span ng-if="socialMedia.type == 'Twitter'">
                            <img class="image-social-media-icon" src="/external-files/media/social-media-images/twitter-logo-white-on-blue.png" title="Cameron Hopkins Twitter" alt="Twitter" />
                        </span>
                        <span ng-if="socialMedia.type == 'YouTube'">
                            <img class="image-social-media-icon" src="/external-files/media/social-media-images/youtube-icon.png" title="Cameron Hopkins YouTube" alt="YouTube" style="width: 35px !important;"/>
                        </span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</section>
<!-- End Footer -->