<!-- Begin Header -->
<section ng-controller="headerController">
    <div class="header-container">
        <!-- Begin Masthead -->
        <div class="masthead">
            <h1 ng-click="goHome(header.headlinerLink)" role="button">{{header.headliner}}</h1>
            <h3 ng-click="goHome(header.headlinerLink)" role="button"><span ng-bind-html="header.subHeadliner | trustHTML"></span></h3>
        </div>
        <!-- End Masthead -->
        <!-- Begin Navigation Menu-->
        <div class="navigation">
            <ul class="nav-ul">
                <li ng-class="checkIfDropdown(navItem.subNavigation, $index, header.navigation.length)" ng-repeat="navItem in header.navigation">
                    <div ng-if="navItem.subNavigation">
                        <a class="nav-dropdown-button navigation-hover-shadow" ng-class="isActive(navItem.pageLink)" href="#{{navItem.pageLink}}"><span ng-bind-html="navItem.title | trustHTML"></span></a>
                        <div class="nav-dropdown-content">
                            <div ng-repeat="dropDownItem in navItem.subNavigation">
                                <div ng-if="$index == 0">
                                    <a class="no-border navigation-hover-shadow" ng-class="isActive(dropDownItem.pageLink)" href="#{{navItem.pageLink}}/{{dropDownItem.pageLink}}"><span ng-bind-html="dropDownItem.title | trustHTML"></span></a>
                                </div>
                                <div ng-if="$index > 0 && $index < navItem.subNavigation.length - 1">
                                    <a class="navigation-hover-shadow" ng-class="isActive(dropDownItem.pageLink)" href="#{{navItem.pageLink}}/{{dropDownItem.pageLink}}"><span ng-bind-html="dropDownItem.title | trustHTML"></span></a>
                                </div>
                                <div ng-if="$index == navItem.subNavigation.length - 1">
                                    <a class="no-top-border navigation-hover-shadow" ng-class="isActive(dropDownItem.pageLink)" href="#{{navItem.pageLink}}/{{dropDownItem.pageLink}}"><span ng-bind-html="dropDownItem.title | trustHTML"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="!navItem.subNavigation">
                        <a class="nav-regular navigation-hover-shadow" ng-class="isActive(navItem.pageLink)" href="#{{navItem.pageLink}}"><span ng-bind-html="navItem.title | trustHTML"></span></a>
                    </div>
                </li>
                <li class="nav-icon">
                    <a href="javascript:;" ng-click="toggleOverlayMenu()">
                        <img id="nav-icon-link" class="image-menu" src="/external-files/media/icons/menu.png" />
                    </a>
                </li>
            </ul>

            <ul id="overlay-nav" class="closed nav-ul">
                <li ng-repeat="navItem in header.navigation">
                    <a class="nav-regular-black navigation-hover-shadow" ng-class="isActive(navItem.pageLink)" href="#{{navItem.pageLink}}"><span ng-bind-html="navItem.title | trustHTML"></span></a>
                </li>
            </ul>
        </div>
        <!-- End Navigation Menu -->
    </div>
</section>
<!-- End Header -->