<!-- Begin Header -->
<section ng-controller="headerController">
    <!-- Begin Navigation animated animation-delay--xs fadeIn -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse box-shadow--small" style="border-radius: 0px; height: 76px;" ng-if="$root.showHeader">
        <!-- Begin Container -->
        <div class="container">
            <!-- Begin Navigation Bar Header -->
            <div class="navbar-header">
                <!-- Begin Toggle -->
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- End Toggle -->
                <!-- Begin Navigation Bar Branding -->
                <a class="navbar-brand" href="#/">
                    <h5 class="h5 font-fancy-1 mb-0">{{header.headliner}}</h5>
                    <span class="h6 font-fancy-2 mt-1" ng-repeat="subHeadliner in header.subHeadliners">
                        <span ng-if="$index != 0 && $index != header.subHeadlines.length - 1"> | </span>
                        <span>{{subHeadliner}}</span>
                    </span>
                </a>
                <!-- End Navigation Bar Branding -->
            </div>
            <!-- End Navigation Bar Header -->
            <!-- Begin Navigation Bar -->
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <div class="navbar-nav ml-auto">
                    <div class="nav-item" ng-class="{'dropdown': navigation.dropdown !== undefined}" ng-repeat="navigation in header.navigation">
                        <!-- Begin Not Dropdown -->
                        <a class="nav-link h5 mb-0" ng-class="isActive(navigation.pageLink)" href="#{{navigation.pageLink}}" ng-if="navigation.dropdown === undefined"><span ng-bind-html="navigation.title | trustHTML"></span></a>
                        <!-- End Not Dropdown -->
                        <!-- Begin Dropdown -->
                        <a role="button" id="navbarDropdownMenuLink{{$index}}" class="nav-link dropdown-toggle h5 mb-0" ng-class="isActive(navigation.pageLink)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-if="navigation.dropdown !== undefined">
                            <span ng-bind-html="navigation.title | trustHTML"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink{{$index}}" ng-if="navigation.dropdown !== undefined">
                            <a class="dropdown-item" ng-class="isActive(navigation.pageLink + '/' + dropdown.pageLink)" href="#{{navigation.pageLink}}/{{dropdown.pageLink}}" ng-repeat="dropdown in navigation.dropdown"><span ng-bind-html="dropdown.title | trustHTML"></span></a>
                        </div>
                        <!-- End Dropdown -->
                    </div>
                </div>
            </div>
            <!-- End Navigation Bar -->
        </div>
        <!-- End Container -->
    </nav>
    <!-- End Navigation -->
</section>
<!-- End Header -->