<!-- Begin Home Page -->
<section ng-controller="homeController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With Errors -->
        <div ng-if="pageFullyLoaded && error.error">
            <div ng-controller="errorController" ng-init="init(error.title, error.status, error.message)">
                <div ng-include="'/partials/error.html'"></div>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <div class="col-md-8 offset-sm-2 d-flex align-items-center" ng-style="windowHeight" ng-if="pageFullyLoaded && !error.error">
            <div class="row col d-block">
                <h1 id="initialText" class="font-fancy-1 text-center" ng-if="initialText.display">{{initialText.text}}</h1>
                <div style="height: 80px;">
                    <h2 id="secondText" class="font-fancy-1 text-center" ng-if="secondText.display">{{secondText.text}}</h2>
                    <h3 id="enterButton" class="font-fancy-1 text-center" ng-if="enterButton.display">
                        <a class="decoration--never" href="#about">{{enterButton.text}} <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- Begin Home Page -->