<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<defaultDocument enabled="true">    <!-- this line enables default documents for a directory -->
		 <files>      
		    <clear/>     <!-- removes the existing default document list -->                
		    <add value="index.html"/>     <!-- index.html is now the default document  -->                
		 </files>
		</defaultDocument>
		<modules runAllManagedModulesForAllRequests="true" />
		<rewrite>
		    <rules>
		    	<clear/>     <!-- removes the existing rules -->
		        <rule name="Enforce canonical hostname" stopProcessing="true">
		            <match url="(.*)" />
		            <conditions>
		                <add input="{HTTP_HOST}" negate="true" pattern="^www.cameronhopkins\.us$" />
		            </conditions>
		            <action type="Redirect" url="www.cameronhopkins.us/{R:1}" redirectType="Permanent" />
		        </rule>
		    	<rule name="RewriteHTML">
		            <match url="(.*)" />
		            <conditions logicalGrouping="MatchAll">
		                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
		                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		            </conditions>
		            <action type="Rewrite" url="{R:1}.html" />
	        	</rule>
		    </rules>
		</rewrite>
		<customErrors defaultRedirect="www.cameronhopkins.us/404/" mode="RemoteOnly">
      		<error statusCode="404" redirect="www.cameronhopkins.us/404/"/>
    	</customErrors>
	</system.webServer>
</configuration>