<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <!-- this line enables default documents for a directory -->
      <files>
        <clear/>
        <!-- removes the existing default document list -->
        <add value="index.html"/>
        <!-- index.html is now the default document  -->
      </files>
    </defaultDocument>
    <httpErrors>
      <remove statusCode="400" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <!--
      <error statusCode="400" path="/error/400/400.html" responseMode="ExecuteURL"/>
      <error statusCode="401" path="/error/401/401.html" responseMode="ExecuteURL"/>
      <error statusCode="403" path="/error/403/403.html" responseMode="ExecuteURL"/>
      <error statusCode="404" path="/error/404/404.html" responseMode="ExecuteURL"/>
      <error statusCode="500" path="/error/500/500.html" responseMode="ExecuteURL"/>
      -->
    </httpErrors>
    <modules runAllManagedModulesForAllRequests="true"/>
    <rewrite>
      <rules>
        <!-- removes the existing rules -->
        <clear/>
        <!--
        <rule name="Rewrite HTML" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="{R:1}.html"/>
        </rule>
        <rule name="Convert to lower case" stopProcessing="true">
          <match url=".*[A-Z].*" ignoreCase="false"/>
          <action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent"/>
        </rule>
        <rule name="Default document - html" stopProcessing="true">
          <match url="(.*)index.html"/>
          <action type="Redirect" url="{R:1}" redirectType="Permanent"/>
        </rule>
        -->
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>