<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<defaultDocument enabled="true">    <!-- this line enables default documents for a directory -->
		 <files>      
		    <clear/>     <!-- removes the existing default document list -->                
		    <add value="index.html"/>     <!-- index.html is now the default document  -->                
		 </files>
		</defaultDocument>
		<modules runAllManagedModulesForAllRequests="true" />
		<rewrite>
		    <rules>
		    	<clear/>     <!-- removes the existing rules -->
		    	<!--
        		<rule name="Redirect to www" stopProcessing="true">
			    	<match url="(.*)" negate="false" />
			      	<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
			        	<add input="{HTTP_HOST}" negate="true" pattern="^cameronhopkins\.us$" />
			        	<add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" negate="true" />
			      	</conditions>
			      	<action type="Redirect" url="www.cameronhopkins.us/{R:1}" />
			      	<action type="Redirect" url="www.{HTTP_HOST}/{R:0}" redirectType="Permanent"/>
    			</rule>
    			-->
    			<rule name="Redirect cameronhopkins.us to www.cameronhopkins.us" patternSyntax="ECMAScript" stopProcessing="true">
	          	<match url=".*"></match>
	          		<conditions>
	            		<add input="{HTTP_HOST}" pattern="^cameronhopkins.us$"></add>
	            		<add input="{HTTPS}" pattern="off"></add>
	          		</conditions>
          			<action type="Redirect" url="http://www.cameronhopkins.us/{R:0}" redirectType="Permanent" appendQueryString="true"></action>
        		</rule>
		    	<rule name="Rewrite HTML" stopProcessing="true">
		            <match url="(.*)" />
		            <conditions logicalGrouping="MatchAll">
		                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
		                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		            </conditions>
		            <action type="Rewrite" url="{R:1}.html" />
	        	</rule>
	        	<rule name="Convert to lower case" stopProcessing="true">
	        		<match url=".*[A-Z].*" ignoreCase="false" />
	        		<action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent" />
	        	</rule>
	        	<rule name="Default document - html" stopProcessing="true">
	        		<match url="(.*)index.html" />
	        		<action type="Redirect" url="{R:1}" redirectType="Permanent" />
	        	</rule>
	        	<rule name="Root hit Redirect" stopProcessing="true">
	        		<match url="^$" />
	        		<action type="Redirect" url="/about/"/>
	        	</rule>
		    </rules>
		</rewrite>
	</system.webServer>
</configuration>