@font-face {
    font-family: no-more-lies;
    src: url('./fonts/no-more-lies.ttf');
}
@font-face {
    font-family: true-lies;
    src: url('./fonts/true-lies.ttf');
}
@font-face {
    font-family: wiked-grit;
    src: url('./fonts/wicked-grit.ttf');
}