@font-face {
    font-family: no-more-lies;
    src: url('/external-files/media/fonts/no-more-lies.ttf');
}
@font-face {
    font-family: true-lies;
    src: url('/external-files/media/fonts/true-lies.ttf');
}
@font-face {
    font-family: wiked-grit;
    src: url('/external-files/media/fonts/wicked-grit.ttf');
}