@import url('./custom-fonts.css');

/*New Color: #29a8d6*/
/*Old Color: #009900*/

/* Begin Loading bar */
#loading-bar .bar {
    top: 76px;
}
/* End Loading bar */

/* Begin Box Shadows */
.box-shadow--small {
    box-shadow: 0 0 12.5px rgba(255, 255, 255, 0.2), 0 0 12.5px rgba(255, 255, 255, 0.19);
}
.box-shadow--medium {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2), 0 0 25px rgba(255, 255, 255, 0.19);
}
.box-shadow--large {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2), 0 0 50px rgba(255, 255, 255, 0.19);
}
/* End Box Shadows */

.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink)
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
     */
}

/* Begin Animation Delays */
.animation-delay--xxs {
    animation-delay: .125s !important;
    -webkit-animation-delay: .125s !important;
    -moz-animation-delay: .125s !important;
}
.animation-delay--xs {
    animation-delay: .25s !important;
    -webkit-animation-delay: .25s !important;
    -moz-animation-delay: .25s !important;
}
.animation-delay--sm {
    animation-delay: .5s !important;
    -webkit-animation-delay: .5s !important;
    -moz-animation-delay: .5s !important;
}
.animation-delay--md {
    animation-delay: 1s !important;
    -webkit-animation-delay: 1s !important;
    -moz-animation-delay: 1s !important;
}
.animation-delay--xmd {
    animation-delay: 1.5s !important;
    -webkit-animation-delay: 1.5s !important;
    -moz-animation-delay: 1.5s !important;
}
.animation-delay--lg {
    animation-delay: 2s !important;
    -webkit-animation-delay: 2s !important;
    -moz-animation-delay: 2s !important;
}
.animation-delay--xl {
    animation-delay: 4s !important;
    -webkit-animation-delay: 4s !important;
    -moz-animation-delay: 4s !important;
}
.animation-delay--xxl {
    animation-delay: 8s !important;
    -webkit-animation-delay: 8s !important;
    -moz-animation-delay: 8s !important;
}
.animation-delay--xxxl {
    animation-delay: 12s !important;
    -webkit-animation-delay: 12s !important;
    -moz-animation-delay: 12s !important;
}
/* End Animation Delays */


/* Begin Link Styles */
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #29a8d6;
	text-decoration: none;
}
/* End Link Styles */

/* Begin Page Breaks */
hr.header-bar {
	display: block;
    height: 7px;
    border: 0;
    border-top: 7px solid #29a8d6;
    margin: 1em 0;
    padding: 0;
}
hr.body-bar {
    width: 100%;
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #29a8d6;
    padding: 0;
}
/* End Page Breaks */

/* Begin Fonts */
.font-fancy-1 {
    font-family: no-more-lies;
}
.font-fancy-2 {
    font-family: true-lies;
}
/* End Fonts */

/* Begin Colors */
.brand-theme-primary {
    color: #29a8d6;
}
.brand-theme-secondary {
    color: #29a8d6;
}
.color-white {
    color: #fff;
}
.color-black {
    color: #000;
}
/* End Colors */

/* Begin Cards */
.card--transparent {
    background-color: transparent;
}
/* End Cards */

/* Begin Navigation Styles */
.navbar-inverse {
    background-image: linear-gradient(rgb(30, 30, 30) 0px, rgb(14, 14, 14) 100%);
    background-repeat: repeat-x;
}
.navbar-inverse .navbar-nav .nav-link {
    color: #fff;
}
.nav-link.active {
    color: #29a8d6 !important;
}
.nav-hover-shadow {
	-webkit-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
	-moz-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
	transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s
}
.nav-hover-shadow:hover:not(.active) {
	box-shadow: 0px 0px 10px 2px rgba(41, 168, 214, 0.75), 0px 0px 10px 2px rgba(41, 168, 214, 0.75)!important;
}
.dropdown-menu {
    background-color: #000;
}
.dropdown-item {
    color: #fff;
}
.dropdown-item:hover  {
    color: #fff;
    background-color: #29a8d6;
}
/* End Navigation Styles */

/* Begin Body Styles */
body {
	font-family: "Trebuchet MS", sans-serif;
    color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
    background-color: #fff;
	image-rendering: auto;
  	image-rendering: crisp-edges;
  	image-rendering: optimizeSpeed;
  	image-rendering: optimize-contrast;
    background-image: url("../media/background-images/black-concrete.jpg");
    background-position: center top;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    margin: 0;
	padding: 0;
	border: 0;
    padding-top: 90px; 
    min-height: 500px;
}
/* End Body Styles */

/* Begin Footer Styles */
.footer-content {
    color: #fff;
}
.footer-content img {
    height: 30px;
    width: 30px;
    border-radius: 2.5px;
}
/* End Footer Styles */

/* Begin Media Queries */
/* When the screen is less than 768px pixels wide */
@media screen and (max-width: 768px) {
    
}
/* End Media Queries */