@import url('./custom-fonts.css');

/*New Color: #29a8d6*/
/*Old Color: #009900*/

/* Begin Loading bar top: 76px; */
#loading-bar .bar {
    background: #29a8d6;
    top: 76px;
}
/* End Loading bar */

.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink)
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
     */
}

/* Begin Animation Delays */
.animation-delay--xxs {
    animation-delay: .125s !important;
    -webkit-animation-delay: .125s !important;
    -moz-animation-delay: .125s !important;
}
.animation-delay--xs {
    animation-delay: .25s !important;
    -webkit-animation-delay: .25s !important;
    -moz-animation-delay: .25s !important;
}
.animation-delay--sm {
    animation-delay: .5s !important;
    -webkit-animation-delay: .5s !important;
    -moz-animation-delay: .5s !important;
}
.animation-delay--md {
    animation-delay: 1s !important;
    -webkit-animation-delay: 1s !important;
    -moz-animation-delay: 1s !important;
}
.animation-delay--xmd {
    animation-delay: 1.5s !important;
    -webkit-animation-delay: 1.5s !important;
    -moz-animation-delay: 1.5s !important;
}
.animation-delay--lg {
    animation-delay: 2s !important;
    -webkit-animation-delay: 2s !important;
    -moz-animation-delay: 2s !important;
}
.animation-delay--xl {
    animation-delay: 4s !important;
    -webkit-animation-delay: 4s !important;
    -moz-animation-delay: 4s !important;
}
.animation-delay--xxl {
    animation-delay: 8s !important;
    -webkit-animation-delay: 8s !important;
    -moz-animation-delay: 8s !important;
}
.animation-delay--xxxl {
    animation-delay: 12s !important;
    -webkit-animation-delay: 12s !important;
    -moz-animation-delay: 12s !important;
}
/* End Animation Delays */

/* Begin Body Styles */
body {
	font-family: "Trebuchet MS", sans-serif;
    color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
    background-color: #fff;
	image-rendering: auto;
  	image-rendering: crisp-edges;
  	image-rendering: optimizeSpeed;
  	image-rendering: optimize-contrast;
    background-image: url("../media/background-images/black-concrete.jpg");
    background-position: center top;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    margin: 0;
	padding: 0;
	border: 0;
    padding-top: 90px; 
    min-height: 500px;
}
.body-home {
    padding-top: 0px; 
}
/* End Body Styles */

/* Begin Box Shadows */
.box-shadow--small {
    box-shadow: 0 0 12.5px rgba(255, 255, 255, 0.2), 0 0 12.5px rgba(255, 255, 255, 0.19);
}
.box-shadow--medium {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2), 0 0 25px rgba(255, 255, 255, 0.19);
}
.box-shadow--large {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2), 0 0 50px rgba(255, 255, 255, 0.19);
}
/* End Box Shadows */

/* Begin Buttons */
.btn-theme-primary {
    color: #fff;
    background-color: #29a8d6;
    border-color: #29a8d6;
}
.btn-theme-primary:active {
    background-color: #1d7696;
    border-color: #1d7696;
}
.btn-theme-primary:focus, .btn-theme-primary:hover {
    background-color: #1d7696;
    background-position: 0 -15px;
}
/* End Buttons */

/* Begin Cards */
.card--transparent {
    background-color: transparent;
    border: 0;
}
.card--light {
    background-color: #d9d9d9;
}
.card--dark {
    background-color: #262626;
}
/* End Cards */

/* Begin Colors */
.brand-theme-primary {
    color: #29a8d6;
}
.brand-theme-secondary {
    color: #29a8d6;
}
.color-white {
    color: #fff;
}
.color-black {
    color: #000;
}
/* End Colors */

/* Begin Fonts */
.font-fancy-1 {
    font-family: no-more-lies;
}
.font-fancy-2 {
    font-family: true-lies;
}
/* End Fonts */

/* Begin Footer Styles */
.footer--sticky {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
.footer-content {
    color: #fff;
}
.footer-content img {
    height: 30px;
    width: 30px;
    border-radius: 2.5px;
}
/* End Footer Styles */

/* Begin Forms */
.form-character-count {
    text-align: right;
    font-size: x-small;
    width: 100%;
    margin: 0px;
}
/* End Forms */

/* Begin Link Styles */
a {
	color: #fff;
    text-decoration: none;
}
a:hover, a:active, a:focus {
	color: #29a8d6;
	text-decoration: none;
}
/* End Link Styles */

/* Begin List Groups */
.list-group-item--dark {
    background-color: #262626;
    border: 1px solid rgba(255, 255, 255, .05);
}
.list-group-item--dark:hover {
    background-color: #1a1a1a;
}
/* End List Groups */

/* Begin Navigation Styles */
.navbar-inverse {
    background-image: linear-gradient(rgb(30, 30, 30) 0px, rgb(14, 14, 14) 100%);
    background-repeat: repeat-x;
}
.navbar-inverse .navbar-nav .nav-link {
    color: #fff;
}
.nav-link.active {
    color: #29a8d6 !important;
}
.nav-hover-shadow {
	-webkit-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
	-moz-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
	transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s
}
.nav-hover-shadow:hover:not(.active) {
	box-shadow: 0px 0px 10px 2px rgba(41, 168, 214, 0.75), 0px 0px 10px 2px rgba(41, 168, 214, 0.75)!important;
}
.dropdown-menu {
    background-color: #000;
}
.dropdown-item {
    color: #fff;
}
.dropdown-item:hover  {
    color: #fff;
    background-color: #29a8d6;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    background-color: #29a8d6;
}
/* End Navigation Styles */

/* Begin Page Breaks */
hr.header-bar {
	display: block;
    height: 7px;
    border: 0;
    border-top: 7px solid #29a8d6;
    margin: 1em 0;
    padding: 0;
}
hr.body-bar {
    width: 100%;
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #29a8d6;
    padding: 0;
}
hr.blog-post-bar {
    width: 100%;
    display: block;
    height: 1.5px;
    border: 0;
    border-top: 1.5px solid #F5F7F9;
    padding: 0;
    opacity: 0.05;
}
/* End Page Breaks */

/*Begin End Text Styles */
.text-outer-dash::before, .text-outer-dash::after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-left: -999em;
    height: 1px;
    width: 998em;
    border-top: 1px solid #E0E1DD;
}
/* End Text Styles */

/* Begin Blog Styles */
.blog-limit-desc {
    max-height: 190px;
    overflow: hidden;
}
.blog-img--small {
    height: 200px; 
}
.blog-filter.active {
    background-color: #29a8d6;
}
/* End Blog Styles */

/* Begin Blog Post Styles */
.post-img--medium {
    height: 400px; 
}
/* End Blog Post Styles */

/* Begin Home Styles */

/* End Home Styles */

/* Begin Sub Portfolio Styles */
.sub-portfolio-img-container-max-height {
    max-height: 200px;
    overflow-y: scroll;
}
.sub-portfolio-img-max-height {
    max-height: 200px;
}
.sub-portfolio-img {
    height: 100px;
    border: 2px solid #fff;
    opacity: 0.7;
}
.sub-portfolio-img.active {
    border: 2px solid #29a8d6;
    opacity: 1;
}
/* End Sub Portfolio Styles */

/* Begin Media Queries */
/* When the screen is less than 768px pixels wide */
@media screen and (max-width: 768px) {
    
}
/* End Media Queries */