<!-- Begin Blog Page -->
<section ng-controller="BlogListController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With Errors -->
        <div id="pageShow" class="collapse" ng-if="pageFullyLoaded && error.error">
            <div ng-controller="ErrorController" ng-init="init(error.title, error.status, error.message)">
                <div ng-include="'/modules/core/client/views/error.client.view.html'"></div>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <div id="pageShow" class="animated animation-delay fadeIn collapse" ng-if="pageFullyLoaded && !error.error">
            <!-- Begin Page Title -->
            <h2 class="font-weight-bold text-uppercase mb-3"><span ng-bind-html="blog.title | trustHTML"></span></h2>
            <!-- End Page Title -->           
            <!-- Begin Filters/New Blog Button -->
            <div class="card card--dark card-block mb-3">
                <div class="row" ng-class="{'justify-content-end': !$root.isLoggedIn}">
                    <!-- Begin New Blog -->
                    <div class="col text-left" ng-if="$root.isLoggedIn">
                        <a href="/blog/new" class="btn btn-theme-primary decoration--never">New Blog</a>
                    </div>
                    <!-- End New Blog -->
                    <!-- Begin Filters -->
                    <div class="col-md-4 text-right">
                        <!-- Begin Search Filter -->
                        <div class="input-group" ng-class="{'mb-3': blog.filters.length > 0}">
                            <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText.query" ng-keypress="onKeyPress($event)">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button" ng-click="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                        <!-- End Search Filter -->
                        <!-- Begin Custom Filters -->
                        <div class="list-group" ng-if="blog.filters.length > 0">
                            <div role="button" class="list-group-item list-group-item--dark blog-filter" ng-class="{active: isFilterActive(filter)}" ng-click="addRemoveFilter(filter)" ng-repeat="filter in blog.filters">
                                <div class="d-block w-100">
                                    <h5 class="text-capitalize text-center p-1 m-0">{{filter}}</h5>
                                </div>
                            </div>
                        </div>
                        <!-- End Custom Filters -->
                    </div>
                    <!-- End Filters -->
                </div>
            </div>
            <!-- End Filters/New Blog Button -->
            <!-- Begin Posts -->
            <div class="row">
                <div class="col-md-8">
                    <!-- Begin Posts -->
                    <div class="animated fadeInUp" ng-class="{'mb-5': $index < blog.posts.length - 1}" ng-style="blogAnimations[$index]" ng-repeat="post in blog.posts">
                        <div class="card card--dark card-block box-shadow--sm">
                            <!-- Begin Image -->
                            <a class="decoration--never highlight--never" ng-href="/blog/post/{{post.url}}">
                                <div style="overflow: hidden;">
                                    <div class="img-thumb img--md img-zoom--sm" ng-style="{'background-image': 'url(' + post.image + ')'}" ng-if="post.image.length > 0"></div>
                                    <div class="img-thumb img--md img-zoom--sm d-table w-100" ng-if="post.image.length == 0">
                                        <div class="h3 text-center w-100 d-table-cell align-middle" style="cursor: default;">{{post.title}}</div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Image -->
                            <!-- Begin Content Break -->
                            <hr class="blog-post-bar mt-4 mb-4" />
                            <!-- End Content Break -->
                            <!-- Begin Title -->
                            <h4 class="card-title mb-0"><span class="highlight-context" ng-bind-html="post.title | trustHTML"></span></h4>
                            <!-- End Title -->
                            <!-- Begin Publish Date -->
                            <div class="text-center mt-4 mb-4 divider">
                                <div></div>
                                <span class="card-text font-italic text-muted responsive-text--sm">Published on: {{$root.parseDateTime(post.datePublished)}}</span>
                                <div></div>
                            </div>
                            <!-- End Publish Date -->
                            <!-- Begin Short Body -->
                            <p class="card-text post-limit-desc"><span class="highlight-context" ng-bind-html="post.shortDescription | trustHTML"></span></p>
                            <!-- End Short Body -->
                            <!-- Begin View Full Post/Edit Post -->
                            <div class="row">
                                <!-- Begin View Full Post -->
                                <div class="col text-left">
                                    <a class="decoration--never card-link mt-3" ng-href="/blog/post/{{post.url}}">View full post... <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                </div>
                                <!-- End View Full Post -->
                                <!-- Begin Edit Post -->
                                <div class="col text-right" ng-if="$root.isLoggedIn">
                                    <a class="decoration--never card-link mt-3" ng-href="/blog/post/{{post.url}}/edit">Edit post <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                </div>
                                <!-- End Edit Post -->
                            </div>
                            <!-- End View Full Post/Edit Post -->
                        </div>
                    </div>
                    <!-- End Posts -->
                    <!-- Begin Paging -->
                    <nav aria-label="..." class="row pl-3 pr-3 mt-4" ng-class="{'justify-content-center': $root.isDeviceWidthSmallerThan(768)}" ng-if="blog.posts.length > 0">
                        <ul class="pagination">
                            <li class="page-item" ng-class="{'disabled': blog.currentPage == 1 || blog.totalPages.length == 1}">
                                <a class="decoration--never page-link page-link--dark" ng-href="{{getRouteValue(blog.currentPage - 1)}}" tabindex="-1">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item" ng-class="{'active': $index == blog.currentPage -1}" ng-if="shouldShowPageIndex($index)" ng-repeat="pages in blog.totalPages track by $index"><a class="decoration--never page-link page-link--dark" ng-href="{{getRouteValue($index + 1)}}">{{$index + 1}}</a></li>
                            <li class="page-item" ng-class="{'disabled': blog.currentPage == blog.totalPages.length}">
                                <a class="decoration--never page-link page-link--dark" ng-href="{{getRouteValue(blog.currentPage + 1)}}">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- End Paging -->
                    <!-- Begin No Posts -->
                    <div class="" ng-if="blog.posts.length == 0">
                        <p>Sorry, there are no posts available.</p>
                    </div>
                    <!-- End No Posts -->
                </div>
            </div>
            <!-- End Posts -->
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End Blog Page -->