vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Jul 2016 16:51:36 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|NWIE\\hopkic5
vti_modifiedby:SR|NWIE\\hopkic5
vti_timecreated:TR|18 Jul 2016 16:51:36 -0000
vti_cacheddtm:TX|18 Jul 2016 16:51:36 -0000
vti_filesize:IR|2522
vti_cachedlinkinfo:VX|Q|layout.css S|../images/background_tile.gif S|../images/masthead_image.jpg
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css NSUS|images/background_tile.gif NSUS|images/masthead_image.jpg
vti_backlinkinfo:VX|
