/* Begin Custom Page Breaks */
hr {
    &.header-bar {
        display: block;
        height: $page-break-header-height;
        border: 0;
        border-top: $page-break-header-height solid $brand-theme-main;
        margin: 0;
        padding: 0;
        z-index: 1031;
    }
    &.body-bar {
        width: 100%;
        display: block;
        height: $page-break-body-height;
        border: 0;
        border-top: $page-break-body-height solid $brand-theme-main;
        padding: 0;
    }
    &.blog-post-bar {
        width: 100%;
        display: block;
        height: $page-break-blog-height;
        border: 0;
        border-top: $page-break-blog-height solid $muted;
        padding: 0;
    }
}
/* End Custom Page Breaks */