/* Begin Custom Box Shadows */
.box-shadow {
    &--xs {
        box-shadow: 0 0 $box-shadow-xs $dark, 0 0 $box-shadow-xs $dark-accent;
    }
    &--sm {
        box-shadow: 0 0 $box-shadow-sm $dark, 0 0 $box-shadow-sm $dark-accent;
    }
    &--md {
        box-shadow: 0 0 $box-shadow-md $dark, 0 0 $box-shadow-md $dark-accent;
    }
    &--lg {
        box-shadow: 0 0 $box-shadow-lg $dark, 0 0 $box-shadow-lg $dark-accent;
    }
    &--xl {
        box-shadow: 0 0 $box-shadow-xl $dark, 0 0 $box-shadow-xl $dark-accent;
    }
    &--primary {
        box-shadow: 0 0 $box-shadow-xs $brand-theme-main, 0 0 $box-shadow-xs $brand-theme-main;
    }
}
/* End Custom Box Shadows */