/* Begin Custom Fonts */
@import url('https://fonts.googleapis.com/css?family=Audiowide');

@font-face {
    font-family: no-more-lies;
    src: url(#{$font-path}/no-more-lies-webfont.eot);
    src: url(#{$font-path}/no-more-lies-webfont.eot?#iefix) format('embedded-opentype'),
         url(#{$font-path}/no-more-lies-webfont.ttf) format('truetype'),
         url(#{$font-path}/no-more-lies-webfont.woff) format('woff'),
         url(#{$font-path}/no-more-lies-webfont.woff2) format('woff');
}
@font-face {
    font-family: true-lies;
    src: url(#{$font-path}/true-lies-webfont.eot);
    src: url(#{$font-path}/true-lies-webfont.eot?#iefix) format('embedded-opentype'),
         url(#{$font-path}/true-lies-webfont.ttf) format('truetype'),
         url(#{$font-path}/true-lies-webfont.woff) format('woff'),
         url(#{$font-path}/true-lies-webfont.woff2) format('woff');
}
@font-face {
    font-family: 'Audiowide Local';
    src: url(#{$font-path}/audiowide-regular.ttf);
}
.font-fancy {
    &--1 {
        font-family: no-more-lies;
    }
    &--2 {
        font-family: true-lies;
    }
    &--3 {
        font-family: 'Audiowide Local', cursive;
    }
}
/* End Custom Fonts */