/* Begin Custom Navigation Styles */
nav {
    color: $text-color;
}
.navbar-fixed-size {
    height: $navbar-height;
    border-radius: 0;
}
.navbar-shifted--down {
    top: $navbar-position;
}
.navbar-inverse {
    background-image: -webkit-linear-gradient(top, $dark 0, $dark-dark 100%);
    background-image: -o-linear-gradient(top, $dark 0, $dark-dark 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from($dark), to($dark-dark));
    background-image: linear-gradient(to bottom, $dark 0, $dark-dark 100%);
    background-repeat: repeat-x;
    background-color: $gray-dark-dark !important;
    
    & .navbar-nav .nav-link {
        color: $text-color;
    }
    & .navbar-brand, & .navbar-toggler {
        color: $text-color;
    }
    /*
    & .navbar-toggler {
        &[aria-expanded="true"] {
            & .navbar-toggler-icon {
                content: "&times;";
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(" + red($brand-theme-main) + "," + green($brand-theme-main) + "," + blue($brand-theme-main)  + ", 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
        }
        & .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(" + red($text-color) + "," + green($text-color) + "," + blue($text-color)  + ", 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }
    */

    & .navbar-toggler--custom {
        border: 0;
        font-size: medium;

        &:focus, &:active {
            outline: 0;
        }
        & span {
            display: block;
            background-color: $text-color;
            height: 3px;
            width: 25px;
            margin-top: 4px;
            margin-bottom: 4px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            position: relative;
            left: 0;
            opacity: 0.9;

            &:nth-child(1), &:nth-child(3) {
                -webkit-transition: transform .35s ease-in-out;
                -moz-transition: transform .35s ease-in-out;
                -o-transition: transform .35s ease-in-out;
                transition: transform .35s ease-in-out;
            }
        }
        &:not(.collapsed) {
            & span:nth-child(1) {
                position: absolute;
                left: 12px;
                top: 10px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
                opacity: 0.9;
            }
            & span:nth-child(2) {
                height: 12px;
                visibility: hidden;
                background-color: transparent;
            }
            & span:nth-child(3) {
                position: absolute;
                left: 12px;
                top: 10px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
                opacity: 0.9;
            }
        }
    }
}
.navbar-toggler-right {
    right: 0;
}
.nav-link {
    &.active {
        color: $brand-theme-main !important;
    }
}
.dropdown-menu {
    background-image: -webkit-linear-gradient(top, $dark 0, $dark-dark 100%);
    background-image: -o-linear-gradient(top, $dark 0, $dark-dark 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from($dark), to($dark-dark));
    background-image: linear-gradient(to bottom, $dark 0, $dark-dark 100%);
    background-repeat: repeat-x;
    background-color: $gray-dark-dark !important;
}
.dropdown-item {
    color: $text-color;
    
    &:hover, &:focus {
        color: $text-color!important;
        background-color: $brand-theme-main;
    }
    &.active, &:active {
        color: $text-color!important;
        background-color: $brand-theme-main;
    }
}

/* Begin Media Queries */
/* If [device width] is less than or equal to 991px */
@media (max-width: 991px) {
    .navbar-inverse {
        & .navbar-collapse {
            background-image: -webkit-linear-gradient(top, $dark 0, $dark-dark 100%);
            background-image: -o-linear-gradient(top, $dark 0, $dark-dark 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, from($dark), to($dark-dark));
            background-image: linear-gradient(to bottom, $dark 0, $dark-dark 100%);
            background-repeat: repeat-x;
            background-color: $gray-dark-dark !important;
            margin-right: -15px;
            margin-left: -15px;
        }
    }
    .navbar-collapse {
        & .navbar-nav {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
}
/* If [device width] is greater than or equal to 992px */
@media (min-width: 992px) {
    .navbar-collapse {
        & .navbar-nav {
            margin-left: auto;
        }
    }
}
/* End Media Queries */
/* End Custom Navigation Styles */