/* Begin Custom Images */
.img {
    &--xxs {
    height: 25px; 
    }
    &--xs {
        height: 50px; 
    }
    &--sm {
        height: 100px; 
    }
    &--md {
        height: 200px; 
    }
    &--lg {
        height: 400px; 
    }
    &--xl {
        height: 800px; 
    }
    &--xxl {
        height: 1000px; 
    }
}
.img-zoom {
    transform: scale(1.0);
    transition: $animation-delay--xs;

    &--sm:hover {
        transform: scale($scale--sm);
    }
    &--md:hover {
        transform: scale($scale--md);
    }
    &--lg:hover {
        transform: scale($scale--lg);
    }
}
/* End Custom Images */