/* Begin Custom Link Styles */
a {
	color: $text-color;
	text-decoration: underline;

	&.decoration--never {
		text-decoration: none;	
	}
	&:hover, &:active, &:focus {
		color: $brand-theme-main;
	}
}
/* End Custom Link Styles */