/* Begin Custom Page Breaks */
hr {
    &.header-bar {
        display: block;
        height: 7px;
        border: 0;
        border-top: 7px solid $brand-theme-main;
        margin: 1em 0;
        padding: 0;
    }
    &.body-bar {
        width: 100%;
        display: block;
        height: 3px;
        border: 0;
        border-top: 3px solid $brand-theme-main;
        padding: 0;
    }
    &.blog-post-bar {
        width: 100%;
        display: block;
        height: 1.5px;
        border: 0;
        border-top: 1.5px solid $muted;
        padding: 0;
    }
}
/* End Custom Page Breaks */