<!DOCTYPE html>

<!-- Drive on Metz -->

<html ng-app="app" ng-controller="subPortfolioController">

<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
-->
	<!-- Begin Head -->
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

		<title>{{subPortfolio.title}}</title>

        <!-- Begin Styles -->
        <link href="/external-files/styles/style1.css" media="screen" rel="stylesheet" title="CSS" type="text/css" />
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
        <!-- End Styles -->

        <!-- Begin Icons -->
        <!-- for FF, Chrome, Opera -->
        <link rel="icon" type="image/png" href="/external-files/media/personal-images/bio-pic.jpg" sizes="16x16" />
        <link rel="icon" type="image/png" href="/external-files/media/personal-images/bio-pic.jpg" sizes="32x32" />
        <!-- for IE -->
        <link rel="icon" type="image/x-icon" href="/external-files/media/icons/favicon.ico" />
        <link rel="shortcut icon" type="image/x-icon" href="/external-files/media/icons/favicon.ico" />
        <!-- End Icons -->

        <!-- Begin Scripts -->
        <!--
            To collect end-user usage analytics about your application,
            insert the following script into each page you want to track.
            Place this code immediately before the closing </head> tag,
            and before any other scripts. Your first data will appear
            automatically in just a few seconds.
        -->
        <script type="text/javascript">
	        var appInsights=window.appInsights||function(config){
	            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;s.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(s);try{t.cookie=u.cookie}catch(h){}for(t.queue=[],i=["Event","Exception","Metric","PageView","Trace","Dependency"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
	        }({
	            instrumentationKey:"61c041f4-27da-4972-b9f3-7ca25e71fb33"
	        });

	        window.appInsights=appInsights;
	        appInsights.trackPageView();
        </script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
        <script src="/external-files/scripts/third-party/angular.min.js"></script>
        <script src="/external-files/scripts/third-party/angular-route.min.js"></script>
        <script src="/external-files/scripts/third-party/angular-sanitize.min.js"></script>
        <script src="/external-files/scripts/third-party/jquery-1.9.1.min.js"></script>
        <script src="/external-files/scripts/app/main.js"></script>
        <!-- End Scripts -->
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>-->
	</head>
	<!-- End Head -->
	
	<!-- Begin Body -->
	<body>
		<hr />
		<!-- Begin Masthead Container -->
		<div id="masthead-container">
			<!-- Begin Masthead -->
			<div id="masthead">
				<h1>Cameron Hopkins</h1>
				<h3>Software Engineer<br />Game Designer</h3>
			</div>
			<!-- End Masthead -->

			<!-- Begin Navigation Menu -->
			<div id="navigation">
				<ul>
					<li><a href="/about/">About</a></li>
					<li><a href="/resume/">R&eacute;sum&eacute;</a></li>
					<li class="dropdown">
						<a class="dropbtn" href="../">Portfolio</a>
						<div class="dropdown-content">
					    	<a class="no-bottom-border" href="../over-drive/">Over Drive</a>
					      	<a href="../road-rager/">Road Rager</a>
					     	<a href="../forsaken/">Forsaken</a>
					     	<a href="../memoryless/">Memoryless</a>
					     	<a href="../squirvival/">Squirvival</a>
					     	<a href="../rollaball-mod/">Rollaball-Mod</a>
					     	<a class="active no-top-border" href="javascript:;">Drive on Metz</a>
    					</div>
					</li>
					<li><a href="/contact/">Contact</a></li>
					
				</ul>
			</div>
			<!-- End Navigation Menu -->
		</div>
		<!-- End Masthead Container -->
	
		<!-- Begin Container -->
		<div id="container"> 
			<!-- Begin Center Column -->
			<div id="column_c">
                <h2>{{subPortfolio.title}}</h2>
                <div></div>
                <div></div>

                <div class="slideshow-div">
                    <div class="slideshow-image-placeholder" style="vertical-align:middle">
                        <img class="image-loading" src="/external-files/media/loading/loading-2.gif" alt="loading.gif" />
                        <img class="slideshow-image slideshow-image-animate-fading" src="" alt="" title="" />
                    </div>

                    <div class="slideshow-change-subimage-div">
                        <div class="slideshow-subimage" ng-repeat="image in subPortfolio.images">
                            <img class="slideshow-subimages-to-switch slideshow-subimage-hover-shadow"
                                 src="{{image.link}}"
                                 ng-click="changeImage(image.link, $index)"
                                 alt="">
                        </div>
                    </div>
                </div>

                <hr />

                <h3 class="sub-portfolio-h3">Overview</h3>

                <p class="sub-portfolio-p">
                    <span class="sub-portfolio-span" ng-bind-html="subPortfolio.overviewContent.overview | trustHTML"></span>
                </p>

                <div ng-if="subPortfolio.overviewContent.gameDesignDocument">
                    <p class="sub-portfolio-p">
                        Take a look at the game design document.
                        <a href="{{subPortfolio.overviewContent.gameDesignDocument}}" target="_blank" style="text-decoration: none;">
                            <img class="image-portfolio-pdf" src="/external-files/media/icons/pdf-icon.png" alt="{{getDesignDocumentTitle(subPortfolio.overviewContent.gameDesignDocument)}}" title="{{getDesignDocumentTitle(subPortfolio.overviewContent.gameDesignDocument)}}" />
                        </a>
                    </p>
                </div>

                <div ng-if="subPortfolio.overviewContent.downloadLink">
                    <p class="sub-portfolio-p">
                        An alpha web version of the game is for download <a href="{{subPortfolio.overviewContent.downloadLink}}">here</a>.
                    </p>
                </div>

                <div ng-repeat="gameData in subPortfolio.overviewContent.gameData">
                    <div ng-if="$index == 5">
                        <ul class="sub-portfolio-ul" style="clear: both">
                            <li class="sub-portfolio-header-li">
                                <span class="sub-portfolio-header-span">{{gameData.title}}</span>
                            </li>
                            <li class="sub-portfolio-li" ng-repeat="data in gameData.data">
                                <span class="sub-portfolio-sub-span">{{data.text}}</span>
                            </li>
                        </ul>
                    </div>
                    <div ng-if="$index != 5">
                        <ul class="sub-portfolio-ul">
                            <li class="sub-portfolio-header-li">
                                <span class="sub-portfolio-header-span">{{gameData.title}}</span>
                            </li>
                            <li class="sub-portfolio-li" ng-repeat="data in gameData.data">
                                <span class="sub-portfolio-sub-span">{{data.text}}</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div style="clear: both"></div>

                <div ng-if="subPortfolio.videoUpdates.length > 0">
                    <hr/>
                    <h3 class="sub-portfolio-h3">{{subPortfolio.title}} Updates</h3>
                    <iframe class="iframe-porfolio-update-video" ng-src="{{subPortfolio.startingUpdateVideo}}"></iframe>
                    <div class="slideshow-change-subvideoimage-div">
                        <div class="slideshow-subvideoimage" ng-repeat="video in subPortfolio.videoUpdates">
                            <div ng-if="$index == 0">
                                <div>
                                    <img class="slideshow-subvideoimage-to-switch slideshow-subvideoimage-hover-shadow slideshow-subvideoimage-selected"
                                         src="{{video.thumbnailLink}}"
                                         ng-click="changeUpdateVideo(video.videoLink, $index)"
                                         alt="">
                                </div>
                            </div>
                            <div ng-if="$index > 0">
                                <div>
                                    <img class="slideshow-subvideoimage-to-switch slideshow-subvideoimage-hover-shadow"
                                         src="{{video.thumbnailLink}}"
                                         ng-click="changeUpdateVideo(video.videoLink, $index)"
                                         alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="subPortfolio.trailerLink">
                    <hr style="clear: both" />
                    <h3 class="sub-portfolio-h3">{{subPortfolio.title}} Trailer</h3>
                    <iframe class="iframe-porfolio-trailer-video" ng-src="{{subPortfolio.trailerVideo}}">
                        <p>Your browser does not support iframes.</p>
                    </iframe>
                </div>
				<br/>
			</div>
			<!-- End Center Column -->
		</div>
		<!-- End Container -->

        <!-- Begin Footer Container -->
        <div id="footer-container">
            <!-- Begin Footer -->
            <div id="footer" ng-include="'/partials/footer.html'"></div>
            <!-- End Footer -->
        </div>
        <!-- End Footer Container -->
		
		<!-- End Footer Container -->
	</body>
	<!-- End Body -->
</html>
