<!-- Begin Login Page -->
<section ng-controller="loginController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With Errors -->
        <div id="pageShow" class="collapse" ng-if="pageFullyLoaded && error.error">
            <div ng-controller="errorController" ng-init="init(error.title, error.status, error.message)">
                <div ng-include="'/partials/error/error.html'"></div>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <div id="pageShow" class="animated animation-delay--xmd fadeIn collapse" ng-if="pageFullyLoaded && !error.error">
            <!-- Begin Login Form -->
            <div class="form-login row align-items-center">
                <div class="col-md-8 offset-md-2">
                    <div class="card card--dark card-block box-shadow--sm box-shadow--primary">
                        <div style="padding-bottom: 24px;" ng-if="!loginForm.errors.isError"></div>
                        <div ng-if="loginForm.errors.isError">
                            <span style="color: red;">{{loginForm.errors.errorMessage}}</span>
                        </div>
                        <form ng-submit="login()">
                            <div class="form-group pl-3 pr-3">
                                <!-- Begin Name -->
                                <div class="form-group row">
                                    <label class="col-2 col-form-label" for="username">Username <span style="color: red;">*</span></label>
                                    <div class="col input-group" ng-class="{'has-danger': loginForm.errors.username}">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </span>
                                        <input class="form-control form-control-danger" type="text" name="username" placeholder="Username" id="username" ng-model="loginForm.inputs.username" ng-focus="viewFocusEnter(loginForm.views.username)" ng-blur="viewFocusLeave(loginForm.views.username)" ng-disabled="loginForm.formSubmitted">
                                    </div>
                                </div>
                                <!-- End Name -->
                                <!-- Begin Password -->
                                <div class="form-group row">
                                    <label class="col-2 col-form-label" for="password">Password <span style="color: red;">*</span></label>
                                    <div class="col input-group" ng-class="{'has-danger': loginForm.errors.password}">
                                        <span class="input-group-addon">
                                            <i class="fa fa-key" aria-hidden="true"></i>
                                        </span>
                                        <input class="form-control form-control-danger" type="password" name="password" placeholder="Password" id="password" ng-model="loginForm.inputs.password" ng-focus="viewFocusEnter(loginForm.views.password)" ng-blur="viewFocusLeave(loginForm.views.password)" ng-disabled="loginForm.formSubmitted">
                                    </div>
                                </div>
                                <!-- End Password -->
                                <!-- Begin Login Button -->
                                <div class="row">
                                    <div class="col text-right">
                                        <button type="submit" class="btn btn-theme-primary" ng-disabled="formSubmitted || loginForm.errors.isError">Login</button>
                                    </div>
                                </div>
                                <!-- End Login Button -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Login Form -->
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End Login Page -->