<!-- Begin Blog Post Page -->
<section ng-controller="blogPostController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With Errors -->
        <div id="pageShow" class="collapse" ng-if="pageFullyLoaded && error.error">
            <div ng-controller="errorController" ng-init="init(error.title, error.status, error.message)">
                <div ng-include="'/partials/error/error.html'"></div>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <article id="pageShow" class="animated animation-delay--md fadeIn collapse" ng-if="pageFullyLoaded && !error.error">
            <!-- Begin Page Title -->
            <h2 class="font-weight-bold text-uppercase mb-3">Blog Post</h2>
            <!-- End Page Title -->
            <!-- Begin Post -->
            <div class="col-md-8 offset-md-2 animated animation-delay--xmd fadeInUp">
                <div class="card card--dark card-block box-shadow--sm">
                    <!-- Begin Edit Post -->
                    <div class="row">
                        <!-- Begin Edit Post -->
                        <div class="col text-right" ng-if="$root.isLoggedIn">
                            <a class="decoration--never card-link mt-3" ng-href="#/blog/post/{{post.url}}/edit">Edit post <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                        <!-- End Edit Post -->
                    </div>
                    <!-- End Edit Post -->
                    <!-- Begin Image -->
                    <div class="post-img--medium rounded" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.15) 100%), url({{post.image}}); background-size: cover; background-position: center center; background-repeat: no-repeat;" ng-if="post.image.length > 0"></div>
                    <!-- End Image -->
                    <!-- Begin Publish/Updated Date -->
                    <div class="text-center mt-4 mb-4 divider">
                        <div></div>
                        <span class="card-text font-italic text-muted">
                            <!-- Begin Publish Date -->
                            <span class="d-block">Published on: {{$root.parseDateTime(post.datePublished)}}</span>
                            <!-- End Publish Date -->
                            <!-- Begin Updated Date -->
                            <span class="d-block" ng-if="post.dateUpdated">Updated on: {{$root.parseDateTime(post.dateUpdated)}}</span>
                            <!-- End Updated Date -->
                        </span>
                        <div></div>
                    </div>
                    <!-- End Publish/Updated Date -->
                    <!-- Begin Title -->
                    <h4 class="card-title mb-0">{{post.title}}</h4>
                    <!-- End Title -->
                    <!-- Begin Author -->
                    <div class="text-center mt-4 mb-4 divider">
                        <div></div>
                        <span class="card-text font-italic text-muted">By: {{post.author}}</span>
                        <div></div>
                    </div>
                    <!-- End Author -->
                    <!-- Begin Body -->
                    <p class="card-text post-body--dark"><span ng-bind-html="post.body | trustHTML"></span></p>
                    <!-- End Body -->
                    <!-- Begin Edit Post -->
                    <div class="row">
                        <!-- Begin Edit Post -->
                        <div class="col text-right" ng-if="$root.isLoggedIn">
                            <a class="decoration--never card-link mt-3" ng-href="#/blog/post/{{post.url}}/edit">Edit post <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                        <!-- End Edit Post -->
                    </div>
                    <!-- End Edit Post -->
                </div>
            </div>
            <!-- End Post -->
        </article>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End Blog Post Page -->