<!-- Begin Blog Post Edit Page -->
<section ng-controller="BlogPostEditController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With Errors -->
        <div id="pageShow" class="collapse" ng-if="pageFullyLoaded && error.error">
            <div ng-controller="ErrorController" ng-init="init(error.title, error.status, error.message)">
                <div ng-include="'./core/client/views/error.html'"></div>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <div id="pageShow" class="animated animation-delay--md fadeIn collapse" ng-if="pageFullyLoaded && !error.error">
            <!-- Begin Page Title -->
            <h2 class="font-weight-bold text-uppercase mb-3">Blog Post Edit</h2>
            <!-- End Page Title -->
            <!-- Begin Blog Insert -->
            <div class="col-md-8 offset-md-2 animated animation-delay--xmd fadeInUp">
                <div class="card card--dark card-block box-shadow--sm">
                    <!-- Begin Form Error -->
                    <div style="padding-bottom: 24px;" ng-if="!blogPostEditForm.errors.isError"></div>
                    <div ng-if="blogPostEditForm.errors.isError">
                        <span style="color: red;">{{blogPostEditForm.errors.errorMessage}}</span>
                    </div>
                    <!-- End Form Error -->
                    <!-- Begin Last Saved -->
                    <h6 class="font-weight-bold text-center" ng-if="post.dateSaved">Date Last Saved: {{$root.parseDateTime(post.dateSaved)}}</h6>
                    <!-- End Last Saved -->
                    <!-- Begin Form -->
                    <form>
                        <div class="form-group">
                            <!-- Begin Title -->
                            <div class="form-group">
                                <label class="col-form-label" for="title">Title <span style="color: red;">*</span></label>
                                <div class="input-group" ng-class="{'has-danger': blogPostEditForm.errors.title}">
                                    <input class="form-control form-control-danger" type="text" name="title" placeholder="Title" id="title" ng-model="blogPostEditForm.inputs.title" ng-focus="viewFocusEnter(blogPostEditForm.views.title)" ng-change="checkTextLength(blogPostEditForm.views.title)" ng-disabled="blogPostEditForm.formSubmitted">
                                </div>
                            </div>
                            <!-- End Title -->
                            <!-- Begin Image -->
                            <div class="form-group">
                                <label class="col-form-label" for="image">Image Link</label>
                                <div class="input-group" ng-class="{'has-danger': blogPostEditForm.errors.image}">
                                    <input class="form-control form-control-danger" type="text" name="image" placeholder="https://www.google.com/image.png" id="image" ng-model="blogPostEditForm.inputs.image" ng-focus="viewFocusEnter(blogPostEditForm.views.image)" ng-disabled="blogPostEditForm.formSubmitted">
                                </div>
                            </div>
                            <!-- End Image -->
                            <!-- Begin Short Description -->
                            <div class="form-group">
                                <label class="col-form-label" for="shortDescription">Short Description <span style="color: red;">*</span></label>
                                <div class="input-group" ng-class="{'has-danger': blogPostEditForm.errors.shortDescription}">
                                    <textarea class="form-control form-control-danger" rows="5" name="shortDescription" placeholder="Insert a short description" id="shortDescription" ng-model="blogPostEditForm.inputs.shortDescription" ng-focus="viewFocusEnter(blogPostEditForm.views.shortDescription)" ng-disabled="blogPostEditForm.formSubmitted"></textarea>
                                </div>
                            </div>
                            <!-- End Short Description -->
                            <!-- Begin Body -->
                            <div class="form-group">
                                <label class="col-form-label" for="body">Body <span style="color: red;">*</span></label>
                                <div class="input-group" ng-class="{'has-danger': blogPostEditForm.errors.body}">
                                    <textarea ui-tinymce="tinymceOptions" class="form-control form-control-danger" class="w-100" style="min-height: 400px;" ng-model="blogPostEditForm.inputs.body" ng-focus="viewFocusEnter(blogPostEditForm.views.body)" ng-disabled="blogPostEditForm.formSubmitted"></textarea>
                                </div>
                            </div>
                            <!-- End Body -->
                            <!-- Begin Discard/Delete -->
                            <div class="row">
                                <!-- Begin Discard Draft -->
                                <div class="col-md-6 mb-2 text-left">
                                    <button class="btn btn-warning w-100" ng-click="discardDraft()">Discard Draft</button>
                                </div>
                                <!-- End Discard Draft -->
                                <!-- Begin Delete -->
                                <div class="col-md-6 mb-2 text-left">
                                    <button class="btn btn-danger w-100" ng-click="deleteBlog()">Delete Post</button>
                                </div>
                                <!-- End Delete -->
                            </div>
                            <!-- End Discard/Delete -->
                            <!-- Begin Save/Post -->
                            <div class="row">
                                <!-- Begin Save -->
                                <div class="col-md-6 text-left" ng-class="{'mb-2': $root.isDeviceWidthSmallerThan(768)}">
                                    <button class="btn btn-theme-primary w-100" ng-click="saveBlog()">Save</button>
                                </div>
                                <!-- End Save -->
                                <!-- Begin Post -->
                                <div class="col-md-6 text-left">
                                    <button class="btn btn-success w-100" ng-click="postBlog()" ng-disabled="blogPostEditForm.formSubmitted || blogPostEditForm.errors.isError">Post</button>
                                </div>
                                <!-- End Post -->
                            </div>
                            <!-- End Save/Post -->
                        </div>
                    </form>
                    <!-- End Form -->
                </div>
            </div>
            <!-- End Blog Insert -->
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End Blog Post Edit Page -->