/* Begin Custom Animation Delays */
.animation-delay--xxs {
    animation-delay: $animation-delay--xxs !important;
    -webkit-animation-delay: $animation-delay--xxs !important;
    -moz-animation-delay: $animation-delay--xxs !important;
}
.animation-delay--xs {
    animation-delay: $animation-delay--xs !important;
    -webkit-animation-delay: $animation-delay--xs !important;
    -moz-animation-delay: $animation-delay--xs !important;
}
.animation-delay--sm {
    animation-delay: $animation-delay--sm !important;
    -webkit-animation-delay: $animation-delay--sm !important;
    -moz-animation-delay: $animation-delay--sm !important;
}
.animation-delay--md {
    animation-delay: $animation-delay--md !important;
    -webkit-animation-delay: $animation-delay--md !important;
    -moz-animation-delay: $animation-delay--md !important;
}
.animation-delay--xmd {
    animation-delay: $animation-delay--xmd !important;
    -webkit-animation-delay: $animation-delay--xmd !important;
    -moz-animation-delay: $animation-delay--xmd !important;
}
.animation-delay--lg {
    animation-delay: $animation-delay--lg !important;
    -webkit-animation-delay: $animation-delay--lg !important;
    -moz-animation-delay: $animation-delay--lg !important;
}
.animation-delay--xl {
    animation-delay: $animation-delay--xl !important;
    -webkit-animation-delay: $animation-delay--xl !important;
    -moz-animation-delay: $animation-delay--xl !important;
}
.animation-delay--xxl {
    animation-delay: $animation-delay--xxl !important;
    -webkit-animation-delay: $animation-delay--xxl !important;
    -moz-animation-delay: $animation-delay--xxl !important;
}
.animation-delay--xxxl {
    animation-delay: $animation-delay--xxxl !important;
    -webkit-animation-delay: $animation-delay--xxxl !important;
    -moz-animation-delay: $animation-delay--xxxl !important;
}
/* End Custom Animation Delays */