/* Begin Custom Buttons */
.btn-theme-primary {
    color: $brand-theme-secondary;
    background-color: $brand-theme-main;
    border-color: $brand-theme-main;
}
.btn-theme-primary:active {
    background-color: darken( $brand-theme-main, 10% );
    border-color: darken( $brand-theme-main, 10% );
}
.btn-theme-primary:focus, .btn-theme-primary:hover {
    background-color: darken( $brand-theme-main, 10% );
    background-position: 0 -15px;
}
/* End Custom Buttons */