/* Begin Custom Cards */
.card {
    &--transparent {
        background-color: $transparent;
        border: 0;
    }
    &--light {
        background-color: $light;
    }
    &--dark {
        background-color: $dark;

        & .card-title {
            color: $text-color;
        }
        & .card-text {
            color: $text-color;
        }
    }
}
.card-link {
    color: $text-color;

    &:hover {
        color: $brand-theme-main;
    }
}
/* End Custom Cards */