/* Begin Custom Footer Styles */
.footer--sticky {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $light;
}
.footer-content {
    color: $text-color;
}
.footer-content img {
    height: 30px;
    width: 30px;
    border-radius: 2.5px;
}
/* End Custom Footer Styles */