/* Begin Custom Modal Styles */
.modal {
    top: $navbar-height;
}
.modal-content--dark {
    background-color: $dark-light;
    border: 1px solid $dark-light;

    & .modal-header {
        border-bottom: 1px solid $dark-accent;
    }
    & .modal-footer {
        border-top: 1px solid $dark-accent;
    }
    & .close {
        color: $text-color;
        text-shadow: 0 0 0 $text-color;
    }
}

/* End Custom Modal Styles */