/* Begin Custom Navigation Styles */
nav {
    color: $text-color;
}
.navbar-inverse {
    background-image: linear-gradient(rgb(30, 30, 30) 0px, rgb(14, 14, 14) 100%);
    background-repeat: repeat-x;
    
    & .navbar-nav .nav-link {
        color: $text-color;
    }
    & .navbar-brand, & .navbar-toggler {
        color: $text-color;
    }
}
.nav-link {
    &.active {
        color: $brand-theme-main !important;
    }
}
.dropdown-menu {
    background-color: $dark-dark;
}
.dropdown-item {
    color: $text-color;
    
    &:hover, &:focus {
        color: $text-color!important;
        background-color: $brand-theme-main;
    }
    &.active, &:active {
        color: $text-color!important;
        background-color: $brand-theme-main;
    }
}
/* End Custom Navigation Styles */