/* Begin Custom ngDialog */
.ngdialog.ngdialog-theme-dark {
    & .ngdialog-content {
        background: $dark;
        color: $text-color;
    }
    & .ngdialog-close {
        &:before {
            color: $text-color;
        }
        &:hover:before, &:active:before {
            color: darken($text-color, 25%); 
        }
    }
}
.ngdialog.ngdialog-theme-default.custom-width {
    & .ngdialog-content {
        width: $ng-dialog-width;
    }
}
.ngdialog.ngdialog-theme-plain.custom-width {
    & .ngdialog-content {
        width: $ng-dialog-width;
    }
}
.ngdialog.ngdialog-theme-dark.custom-width {
    & .ngdialog-content {
        width: $ng-dialog-width;
    }
}
/* End Custom ngDialog */