<!-- Begin Dashboard Page -->
<section ng-controller="DashboardController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With Errors -->
        <div id="pageShow" class="collapse" ng-if="pageFullyLoaded && error.error">
            <div ng-controller="ErrorController" ng-init="init(error.title, error.status, error.message)">
                <div ng-include="'/modules/core/client/views/error.client.view.html'"></div>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <div id="pageShow" class="animated animation-delay--md fadeIn collapse" ng-if="pageFullyLoaded && !error.error">
            <!-- Begin Page Title -->
            <h2 class="font-weight-bold text-uppercase mb-0"><span ng-bind-html="dashboard.title | trustHTML"></span></h2>
            <!-- End Page Title -->
            <!-- Begin Analytics -->
            <div class="animated fadeInUp" ng-style="dashboardAnimations[0]">
                <div class="card card--transparent card-body">
                    <h4 class="text-capitalize">Analytics</h4>
                    <div class="row pl-3 pr-3">
                        <!-- Begin Requests Selection -->
                        <div class="col-md-4">
                            <h6 class="">Select Request</h6>
                            <select ng-model="requestOptions.selected" ng-change="updateGraph()">
                                <option ng-repeat="option in requestOptions.options">{{option}}</option>
                            </select>
                        </div>
                        <!-- End Requests Selection -->
                        <!-- Begin Past Type Selection -->
                        <div class="col-md-4" ng-if="requestOptions.selected != initialText">
                            <h6>Select View Type</h6>
                            <select ng-model="viewOptions.selected" ng-change="updateGraph()">
                                <option ng-repeat="option in viewOptions.options">{{option}}</option>
                            </select>
                        </div>
                        <!-- End Past Type Selection -->
                        <!-- Begin Years/Months/Weeks/Days Past Selection -->
                        <div class="col-md-4" ng-if="requestOptions.selected != initialText && viewOptions.selected != initialText">
                            <h6>Select {{viewOptions.selected}} Back</h6>
                            <select ng-model="pastOptions.selected" ng-change="updateGraph()">
                                <option ng-repeat="option in pastOptions.options">{{option}}</option>
                            </select>
                        </div>
                        <!-- End Years/Months/Weeks/Days Past Selection -->
                    </div>
                    <!-- Begin Graph -->
                    <div class="col-auto mt-5">
                        <h4 class="text-center">Request Analytics</h4>
                        <canvas id="requestAnalyticsCanvas" class="chart chart-bar" 
                                chart-data="requestAnalyticsData" 
                                chart-labels="requestAnalyticsLabels" 
                                chart-series="requestAnalyticsSeries"
                                chart-options="requestAnalyticsOptions" ng-if="requestAnalyticsData.length > 0"></canvas>
                        <h5 class="text-center" ng-if="(!requestAnalyticsData || requestAnalyticsData.length == 0) && (requestOptions.selected == initialText || viewOptions.selected == initialText || pastOptions.selected == initialText)">Select a request, view and a time frame to view data.</h5>
                        <h5 class="text-center" ng-if="(!requestAnalyticsData || requestAnalyticsData.length == 0) && requestOptions.selected != initialText && viewOptions.selected != initialText && pastOptions.selected != initialText">Sorry, but there is no data for '{{pastOptions.selected}}'.</h5>
                    </div>
                    <!-- End Graph -->
                </div>
            </div>
            <!-- End Analytics -->
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End Dashboard Page -->